@charset "UTF-8";
*{margin:0; padding:0}
body{
    min-width: 1230px;
    position: relative;
}
/* 头部总框 */
#header-site{
    height: 64px;
    width: 100%;
    background-color: #272727;
    position: relative;
}
#header-site.active{
    height: 64px;
    width: 100%;
    background-color: #fff;
}
#header-site.active2{
    height: 64px;
    width: 100%;
    background-color: #fff;
}
/* 主体 */
.navbar-container{
    margin:0 auto;
    width:1200px;
}
.navbar-header{
    height: 64px;
    width: 84px;
    float: left;
}
/* logo部分 */
.navbar-logo{
    background-image:url(../img/logo1.svg);
    display: inline-block;
    width: 45px;
    height: 26px;
    background-size: cover;
    margin: 19px 39px 19px 0; 
}
.navbar-logo.active{
    background-image:url(../img/logo2.svg);
}
.navbar-logo.active2{
    background-image:url(../img/logo2.svg);
}
.navbar-sort{
    float:left;
    width: 1116px;
    height: 64px;
}
/* .header-site::after{
    content: "";
    display: block;
    clear: both;
} */
.navbar-list>li{
    float: left;
    list-style: none;
    width: 102px;
    height: 64px;
}
.navbar-list>li>a{
    color: #fff;
    line-height: 64px;
    text-decoration: none;
    font-weight:600; 
    font-size:14px;
    padding:0px 16px;
    display: block;
    text-align: center;
}
.navbar-list>li>a:hover{
    color: #272727;
    /* line-height: 64px;
    text-decoration: none;
    font-weight:600; 
    font-size:14px;
    padding:0px 16px;
    display: block;
    text-align: center; */
}
/* 商城按钮 */
.btn-1{
    color: #fff;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 4px;
    font-weight: 600;
    background-image: linear-gradient(-180deg,#42b7ff,#1897f2);
    font-size:14px;
    border:0px;
    vertical-align:middle;
    margin-right: 20px;
}
/* 搜索  用户 */
.search,.user{
    display:inline-block;
    width:24px;height:24px;
    background-position:center center;
    background-size:cover;
    vertical-align:middle;
}
.search{
    background-image:url(../img/sousuo.svg); 
    margin-right: 20px;
}
.user{
    background-image:url(../img/user.svg);
}
.search.active{
    background-image:url(../img/sousuo-B.svg);
}
.user.active{
    background-image:url(../img/user-B.svg);
}
.navbar-right{
    float: right;
    position: relative;
    padding: 17px 0px;
    top:-16px;
}
.search-box-cover{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 64px;
    left: 0;
    opacity: .5;
    background-color: #000;
    z-index: 990;
}  
.headersearch{
    display: none;
}
.search-box form {
    display: inline-block;
    position: absolute;
    top:15px;
    left:416.5px;
}
.search-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #616466;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 120px;
    margin-top: 3px;
    background-size: cover;
    background-image: url(../img/sousuo-B.svg);
    background-position:center center;
    vertical-align: middle;
}
.search-input {
    display: inline-block;
    width: 640px;
    outline: none;
    font-size: 16px;
    height: 32px;
    padding: 4px 8px;
    border: none;
    vertical-align: middle;
    position: absolute;
    left:980px;
    top:-1px;
    transition:all .5s linear;
}
.close-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #616466;
    cursor: pointer;
    position: absolute;
    left: 1116px;
    top: 3px;
    background-size: cover;
    background-image: url(../img/close.svg);
    vertical-align: middle;
    background-position:center center;
}
/* 搜索栏推荐列表 */
.search-push{
    position: fixed;
    background-color: #fff;
    border-top: solid 1px #e7eef3;
    z-index: 1001;
    top: 64px;
    width: 704px;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 16px;
    line-height: 16px;
    border-radius: 2px;
    padding: 16px 0;
    display: none;
}
.search-push h6{
    font-size: 12px;
    padding: 8px 0;
    margin: 0 40px;
    color: #919699;
}
.hot-word-list{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
    list-style:none;   
}
.quick-link a{
    padding: 8px 40px;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    color: #303233;
    text-decoration: none;
}
.quick-link:hover{
    background-color:#ebeff2;
}
.down-menu{
    width: 100px;
    height: 88px;
    background-color:#fff;
    position: absolute;
    left:100px;
    top:44px;  
    border: 1px solid #616466;
    display: none; 
    border-radius:10px;
}
.down-menu-ul{
    list-style: none;
    text-align: center;
    
}
.down-menu-ul li{
    white-space: nowrap;
    display: inline-block;
    color: #303233;
    height: 43px;
    width: 100%;
    border-radius:10px; 
}
.ul-item-1{
    border-bottom:1px solid #919699;
}
/* 显示用户  登录 注册 列表 */
.user:hover+.down-menu{
    display: block;
}
.down-menu:hover{
    display: block;
}
.down-menu-ul a{
    color: #616466;
    width: 100%;
    height: 100%;
    display: inline-block;
    line-height: 44px;
}
/* 登录 选择框 变色 */
.down-menu-ul li:hover{
    background-color:#ebeff2 ;
}
/* 第一个列表框总样式 */
.nva-columns-box{
    background-color:#fff;
    width: 100%;
    height: 632px;
    position: absolute;
    left:0;
    border-bottom: 1px solid   #dedfe0;
    display: none;
}
/* 主体部分 */
.list-box-all{
    background-color:#fff;
    margin:0px auto;
    padding-top:24px;
    height: 632px;
    max-width: 1200px;
}
/* 上部 */
.list-box-top{
    height: 528px;
    width: 100%;
    background-color:#fff;
    box-sizing: border-box;
}
/* 下部 */
.list-box-bottom{
    height:80px;
    width: 100%;
    background-color:#fff;
    border-bottom: 1px solid   #dedfe0;
}
/* 上部第一层 */
.list-box-top-1{
    height:208px;
    width:100%;
    background-color:#fff;
    margin:0px;
    box-sizing: border-box;
    border-bottom: 1px solid   #f1f3f5;
}
.list-box-top-2{
    height:296px;
    width:100%;
    background-color:#fff;
    margin:0px;
    box-sizing: border-box;
    border-bottom: 1px solid  #f1f3f5;
}
/* 栅格格式 */
.col-4{
    padding:0px;
    margin: 0px;
}
/* 图片样式 */
.picture-size{
    width: 160px;
    height: 160px;
    margin: 0px;
}
/* 商品导航列表 */
.product-link{
    height: 100%;
    float: left;
    width: 136px;
    padding: 0px;
    margin:0px;
    border-right: 1px solid   #f1f3f5;
    box-sizing: border-box;
}
/* 大a标签 */
.product-link a{
    font-size: 16px;
    color: #3b3e40 !important;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
}
/* h4标签 */
.product-link h4{
    color: #6c7073;
    font-size: 10px;
    margin-bottom: 16px;
    padding-right: 16px;
}
/* ul列表样式 */
.product-link-ul{
    list-style: none;
}
.product-link-ul a{
    color: #6c7073 !important;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: 400;
    display: inline-block;
}
.top-baby{
    padding:0px;
}
/* 底部a大标签 */
.big-a-box{
    color: #3b3e40 !important;
    background-image: linear-gradient(-180deg,#d4d7d9,#babdbf);
    margin-right: 24px;
    height: 48px;
    line-height: 48px;
    border-radius: 4px;
    transition: all .3s;
    font-size: 14px;
    display:block;
    float: left;
    width: 213PX;
    position: relative;
    padding:0px 16px 0px 28px;
}
.a-icon{
    background-image: url(../img/3-.svg);
    display: inline-block;
    height: 16px;
    width: 16px;
    position: absolute;
    top:17PX;
    left:160PX;
    background-size: cover;
    margin-left: 24px;
}
/* 第二个导航页面 */

/* 总框样式 */
.nva-columns-box-2{
    background-color:#fff;
    width: 100%;
    height: 704px;
    position: absolute;
    left:0;
    border-bottom: 1px solid   #dedfe0;
    display: block;
}
/* 主体样式 */
.list-box-all-2{
    background-color:#fff;
    margin:0px auto;
    height: 704px;
    max-width: 1200px;
}
.list-box-header{
    height: 72px;
    background-color: #e1e7eb;
}
.list-box-mid{
    height: 552px;
    width: 100%;
    background-color:#fff;
    box-sizing: border-box;
}
.list-box-bottom-2{
    height:80px;
    width: 100%;
    background-color:#fff;
    border-bottom: 1px solid   #dedfe0;
}
/* 头部的导航 */
.B-head-list{
    margin: 0px;
}
.B-head-list li{
    float: left;
    list-style: none;
    height: 72px;
    position: relative;
    display: block;
    border-left:2px solid #fff;
    box-sizing: border-box;
}
.B-head-list a{
    font-size: 16px;
    line-height: 20px;
    padding: 0 24px;
    color: #3b3e40 !important;
    font-weight: 600;
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
    height: 72px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -moz-align-items: center;
    align-items: center;
}
.a2-icon{
    background-image: url(../img/6dian.svg);
    display: inline-block;
    height: 16px;
    width: 21px;
    position: absolute;
    top:29PX;
    left:150PX;
    background-size: cover;
}
.list-box-mid{
    padding-top:24px;
    height: 552px;
}
.list-box-mid-1{
    height: 240px;
    margin:0px;
    border-bottom: 1px solid  #f1f3f5;
}
.list-box-mid-2{
    height: 264px;
    margin:0px;
    border-bottom: 1px solid  #f1f3f5;
}