@charset "UTF-8";
*{margin:0; padding:0}
body{
    min-width: 1230px;
    position: relative;
}
#header-site{
    height: 64px;
    width: 100%;
    background-color: #272727;
}
#header-site.active{
    height: 64px;
    width: 100%;
    background-color: #fff;
}
#header-site.active2{
    height: 64px;
    width: 100%;
    background-color: #fff;
}
.navbar-container{
    margin:0 auto;
    width:1200px;
}
.navbar-header{
    height: 64px;
    width: 84px;
    float: left;
}
.navbar-logo{
    background-image:url(../img/logo1.svg);
    display: inline-block;
    width: 45px;
    height: 26px;
    background-size: cover;
    margin: 19px 39px 19px 0; 
}
.navbar-logo.active{
    background-image:url(../img/logo2.svg);
}
.navbar-logo.active2{
    background-image:url(../img/logo2.svg);
}
.navbar-sort{
    float:left;
    width: 1116px;
    height: 64px;
}
/* .header-site::after{
    content: "";
    display: block;
    clear: both;
} */
.navbar-list>li{
    float: left;
    list-style: none;
    width: 102px;
    height: 64px;
}
.navbar-list>li>a{
    color: #fff;
    line-height: 64px;
    text-decoration: none;
    font-weight:600; 
    font-size:14px;
    padding:0px 16px;
    display: block;
    text-align: center;
}
.navbar-list>li>a:hover{
    color: #272727;
    /* line-height: 64px;
    text-decoration: none;
    font-weight:600; 
    font-size:14px;
    padding:0px 16px;
    display: block;
    text-align: center; */
}

.btn-1{
    color: #fff;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 4px;
    font-weight: 600;
    background-image: linear-gradient(-180deg,#42b7ff,#1897f2);
    font-size:14px;
    border:0px;
    vertical-align:middle;
    margin-right: 20px;
}
.search,.user{
    display:inline-block;
    width:24px;height:24px;
    background-position:center center;
    background-size:cover;
    vertical-align:middle;
}
.search{
    background-image:url(../img/sousuo.svg); 
    margin-right: 20px;
}
.user{
    background-image:url(../img/user.svg);
}
.search.active{
    background-image:url(../img/sousuo-B.svg);
}
.user.active{
    background-image:url(../img/user-B.svg);
}
.navbar-right{
    float: right;
}
.search-box-cover{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 64px;
    left: 0;
    opacity: .5;
    background-color: #000;
    z-index: 990;
}  
.headersearch{
    display: none;
}
.search-box form {
    display: inline-block;
    position: absolute;
    top:15px;
    left:416.5px;
}
.search-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #616466;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 182px;
    margin-top: 3px;
    background-size: cover;
    background-image: url(../img/sousuo-B.svg);
    background-position:center center;
    vertical-align: middle;
}
.search-input {
    display: inline-block;
    width: 640px;
    outline: none;
    font-size: 16px;
    height: 32px;
    padding: 4px 8px;
    border: none;
    vertical-align: middle;
    position: absolute;
    left:980px;
    top:-3px;
    transition:all .5s linear;
}
.close-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #616466;
    cursor: pointer;
    position: absolute;
    left: 1116px;
    top: 3px;
    background-size: cover;
    background-image: url(../img/close.svg);
    vertical-align: middle;
    background-position:center center;
}
/* 搜索栏推荐列表 */
.search-push{
    position: fixed;
    background-color: #fff;
    border-top: solid 1px #e7eef3;
    z-index: 1001;
    top: 64px;
    width: 704px;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 16px;
    line-height: 16px;
    border-radius: 2px;
    padding: 16px 0;
    display: none;
}
.search-push h6{
    font-size: 12px;
    padding: 8px 0;
    margin: 0 40px;
    color: #919699;
}
.hot-word-list{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
    list-style:none;   
}
.quick-link a{
    padding: 8px 40px;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    color: #303233;
    text-decoration: none;
}
.quick-link:hover{
    background-color:#ebeff2;
}
