*{margin:0; padding:0;}
/* 主体 */
#banner{
    position: relative;
    min-width:1230px;
    height: 750px;
    background:linear-gradient(to bottom,#272727,#6c7073); 
}
#banner a{
    text-decoration: none;
}
/* 总框 */
#big-box{
    width: 100%;
    height: 100%;
    padding-top:120px; 
}
/* 主体框 */
#main{
    width: 100%;
    height: 630px;
     
}
/* 文本框 */
#text-box{
    width:100%;
    height: 77px;
    position: absolute;
    top:150px;
    left:0px;
    z-index: 2000;
}
#text-box li{display:none;}
#text-box li.active{display:block;}
/* 图片框 */
#imgs-box{
    width: 100%;
    height:470px;
    position: absolute;
    top:280px;
    left:0px;
}

/* 文本图片 */
.text-img{
    margin:0 auto;
    height: 36px;
    display:block;
}
/* 文字样式 */
.words{
    color: #ffffff; 
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-top: 8px;
}
#imgs-box a{display:block;height:100%;}
#imgs-box li{display:none;height:470px}
#imgs-box li.active{display: block;}
/* 图片样式 */
#imgs-box img{
    display: block;
    height:100%;
    margin: 0 auto;
    background-size:auto 470px;
    background-position-y: 150px;
}
.img-1 img{
    background: url(../img/img01.png) no-repeat center;
}
.img-2 img{
    background: url(../img/img02.png) no-repeat center;
}
.img-3 img{
    background: url(../img/img03.png) no-repeat center;
}
.img-4 img{
    background: url(../img/img04.png) no-repeat center;
}
.img-5 img{
    background: url(../img/img05.png) no-repeat center;
}
.img-6 img{
    background: url(../img/img06.png) no-repeat center;
}
.img-7 img{
    background: url(../img/img07.png) no-repeat center;
}
.img-8 img{
    background: url(../img/img08.png) no-repeat center;
}
.img-9 img{
    background: url(../img/img12.png) no-repeat center;
}
.img-10 img{
    background: url(../img/img13.png) no-repeat center;
}
/* 导航栏 */
#list-box{
    height: 200px;
    position: absolute;
    top:490px;
    left:100px;
    z-index: 1200;
}
#ul-idxs{
    list-style: none;
    margin:0px;
}
#ul-idxs li a{
    padding: 6px 40px;
    font-size: 14px;
    color: #fff;
    cursor: default;
    font-weight: 600;
    opacity: 0.5;
    cursor:pointer;
    transition:font-size .3s linear;
}
#ul-idxs li.active a{
    color: #eee;
    font-size:15px;
    display: block;
    background:url(../img/caret-right.png) no-repeat left center;
    background-size:20px;    
    opacity:1;
}
/* 左键 */
#btn-left{
    width:300px;
    height:100%;
    position: absolute;
    left:0;top:0;
    z-index:1100;
}
/* 右键 */
#btn-right{
    width:300px;
    height:100%;
    position: absolute;
    right:0;top:0;
    z-index:1100;
}
/* 左边半圆 */
#btn-left span,#btn-right span{
    height: 128px;
    width: 64px;
    position:absolute;
    top:50%;
    margin-top:-64px;
    cursor: pointer;
    z-index:1100;
    display:none; 
}
#btn-left span{
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;
    background:rgba(194,200,204,.5) url(../img/left_ar.png) no-repeat left center;
}
#btn-right span{
    right:0;
    border-top-left-radius: 64px;
    border-bottom-left-radius: 64px;
    background:rgba(194,200,204,.5) url(../img/right_ar.png) no-repeat right center;
}
#btn-left:hover span{
    display: block;
}
#btn-right:hover span{
    display: block;
}