*{margin: 0px;padding:0px}
.settlement{
    width: 100%;
    height: 100%;
}
.settlement-box{
    width: 1200px;
    height: 100%;
    margin:0 auto;
    padding:24px 0px 48px 0px;
}
.settlement-box h1{
    margin: 0px;
}
.settlement-list{
    display: flex;
    height: 24px;
    width: 1200px;
    margin-top:40px; 
}
.settlement-list>div:nth-child(1){
    width: 700px;
}
.settlement-list>div:nth-child(2){
    width: 150px;
}
.settlement-list>div:nth-child(3){
    width: 150px;
}
.settlement-list>div:nth-child(4){
    width: 150px;
}
.box-line{
    border: 0.25px solid #c3c2c2;
    margin:25px 0px;
}  
.mycart{
    height: 128px;
    width: 1200px;
    margin-bottom:20px; 
    display: flex;
    align-items:center;
    border-bottom:1px solid #e4e0e0; 
}
.mycart-checkbox{
    height: 22px;
    width: 22px;
}
.mycart-img{
    width: 176px;
    height: 128px;
}
.mycart-img>a{
    width: 128px;
    height: 128px;
    display: block;
    background: url(../img/shop/01.jpg)no-repeat center;
    background-size:128px; 
    margin: 0 auto;
}
.mycart-text{
    width: 500px;    
}
.mycart-text>a{
    text-decoration: none;
    color: black;
}
.mycart-text>a>h3{
    font-size: 20PX;
}
.mycart-text>p{
    color: #b8b7b7;
    font-size: 14px;
    margin: 0px;
}
.mycart-price{
    width: 126px;
    margin-right: 24px;
}
.mycart-count{
    display: flex;
    align-items:center ;
}
.mycart-count{
    width: 126px;
    margin-right:24px; 
}
.mycart-count>button{
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #b8b7b7;
}
.mycart-count>input{
    width: 40px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #b8b7b7;
    text-align: center;
}
.total-price{
    width: 126px;
    margin-right: 26px;
}
.mycart-delete{
    background: url(../img/mycart/delete.png) no-repeat center;
    background-size:32px; 
    width: 32px;
    height: 32px;
}
.mycart-bottom{
    width: 1200px;
    height: 58px;
    display: flex;
}
.money{
    background: url(../img/mycart/money.png) no-repeat center;
    width: 32px;
    height: 32px;
    display: block;
}
.my-b-text{
    width: 750px;
}
.my-b-text>p{
    font-size: 14px;
    margin: 0px;
}
.mycart-bottom-2{
    display: flex;
    margin-bottom: 40px;
}
.data{
    background:url(../img/mycart/data.png) no-repeat center;
    width: 32px;
    height: 32px;
}
.end-line{
    border: 0.5px solid #b8b7b7;
    width: 1200px;
    margin-bottom:24px; 
}
.end-box{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.end-box>a{
    text-decoration: none;
}
.end-left-btn{
    height: 48px;
    width: 276px;
    text-align: center;
    line-height: 48px;
    border: 1px solid #b8b7b7;
    border-radius: 4px;   
}
.end-right-btn{
    height: 48px;
    width: 276px;
    text-align: center;
    background-image: linear-gradient(0deg,#1897f2,#42b7ff);
    border: 1px solid #b8b7b7;
    border-radius: 4px;
    line-height: 48px;
    color: #fff;
    font-weight: 500;
}